
@model Poker.Areas.Identity.Data.PokerUser

<body class="background">

    <h1>My Stats </h1>
    <br>
    <h3>Chips: @Model.Chips </h3>
    <h3>Wins: @Model.Wins </h3>
    <h3>Bluff Wins: @Model.BluffWins </h3>
</body>
