
@model Poker.Areas.Identity.Data.PokerUser

<body class="background">
    <div class="jumbotron" style="background-color:darkred; color:white;">
        <h1 class="display-4">My Stats</h1>
        <hr class="my-4">
        <p>Chips: @Model.Chips </p>
        <p>Hands won: @Model.Wins </p>
        <p>Hands won off of bluffs: @Model.BluffWins </p>
    </div>
</body>

