<!--
  Author:    Ajay Bagali, Jon England, Ryan Furukawa
  Date:      12/7/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Ajay Bagali, Jon England, and  Ryan Furukawa - This work may not be copied for use in Academic Coursework.
  I, Ajay Bagali,Jon England, and Ryan Furukawa  certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
  File Contents
    user stats page
-->
@model Poker.Areas.Identity.Data.PokerUser

<body class="background">
    <div class="jumbotron" style="background-color:darkred; color:white;">
        <h1 class="display-4">My Stats</h1>
        <hr class="my-4">
        <p>Chips: @Model.Chips </p>
        <p>Hand wins: @Model.Wins </p>
        <p>Bluff wins: @Model.BluffWins </p>
    </div>
</body>

