@model Poker.Models.Game

@{
    ViewData["Title"] = "Create";
}

@*<div>
    <a asp-action="Index">Back to Main Menu</a>
</div>*@

 <div class ="canvas_div" id="canvas_div"></div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.js"></script>
    <script src="https://pixijs.io/pixi-sound/dist/pixi-sound.js"></script>
    <script type="text/javascript" src="~/js/game.js"></script>

    <script type="text/javascript">

        $(function () {
            var game = new Game();
            var betButton = new betButton();
            game.setup_pixi_stage(1550, 800, 0x66CC00);
            

        });

    </script>
}
