@model Poker.Models.Game

@{
    ViewData["Title"] = "Create";
}

@*<div>
    <a asp-action="Index">Back to Main Menu</a>
</div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
