<!--
  Author:    Ajay Bagali, Jon England, Ryan Furukawa
  Date:      12/7/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Ajay Bagali, Jon England, and  Ryan Furukawa - This work may not be copied for use in Academic Coursework.
  I, Ajay Bagali,Jon England, and Ryan Furukawa  certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
  File Contents
    Displays error page if player encounters any web/server errors when playing.
-->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model String

<h2>Unable to join game: @Model</h2>
<p>Please <a asp-controller="Home" asp-action="Index">return to the home page</a> to join another game.</p>