@model Poker.Models.Game

@{
    ViewData["Title"] = "Lobby";
}

<body class="background">
    <div class="jumbotron text-center" style="background-color:darkred;"  >
        <h1 style="color:white;">Game Lobby</h1>
        <br />
        <h3 style="color:white;">Game code: <span id="gameid">@Model.ID</span></h3>
        <hr />
            <h4 style="color:white;">Players</h4>
            <div style="align-items:center;">
                <ul class="list-group" id="gameresponse">
                </ul>
            </div>
        <br />

        <div>
            <a class="btn btn-primary btn-lg" href="/Games/Play/@Model.ID" id="startbutton" style="background-color:darkgreen;" role="button" >Start Game</a>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/lobby.js"></script>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
