@model Poker.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Lobby</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>
            Game Code:
        </p>
        <p>@Model.ID</p>
        @foreach (Player player in Model.Players) { 
            <p>@player.UserName</p>
        }
    </div>
</div>

<div>
    <a class="btn btn-primary btn-lg" href="/Games/Play/@Model.ID" id="startbutton" role="button">Start Game</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
